<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navigation">
      <%= link_to "Главная страница", root_path %>
      <%= link_to "Список фильмов", movies_path %>
      <%= link_to "Добавить фильм", new_movie_path %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
